@inherits EventDetailEditBase


@page "/events/new"
@page "/events/{Id:int}"

<PageTitle>@($"events[{Id}]")</PageTitle>

<div class="container-create form-width">
    <div class="row">
        <div class="col">
            <div class="form-group">
                <h3>events</h3>
            </div>
        </div>
    </div>


    <EditForm Model="Model" OnSubmit="SubmitForm">
        <Blazored.FluentValidation.FluentValidationValidator />


        <div class="row">
            <div class="col">
                <div class="form-group">
                    <MudTextField @bind-Value="Model.EventDetailDescription" Label="Description" Variant="Variant.Outlined"></MudTextField>
                    <ValidationMessage For="@(() => Model.EventDetailDescription)" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <MudDatePicker @bind-Value="Model.EventDetailDate" Label="Date" Variant="Variant.Outlined"></MudDatePicker>
                    <ValidationMessage For="@(() => Model.EventDetailDate)" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <MudTimePicker @bind-Value="Model.EventDetailStartTime" Label="Start Time" Variant="Variant.Outlined"></MudTimePicker>
                    <ValidationMessage For="@(() => Model.EventDetailStartTime)" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <MudTimePicker @bind-Value="Model.EventDetailEndTime" Label="End Time" Variant="Variant.Outlined"></MudTimePicker>
                    <ValidationMessage For="@(() => Model.EventDetailEndTime)" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <MudSelect T="string" Label="US States" MultiSelection="true" @bind-Value="value" @bind-SelectedValues="options">
                        @foreach (var state in states)
                        {
                            <MudSelectItem T="Int32" Value="@state">@state</MudSelectItem>
                        }
                    </MudSelect>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col">
                <div class="form-group">
                    <button type="submit" class="btn btn-success form-save-btn">Save</button>
                    <button type="button" class="btn btn-secondary form-cancel-btn" @onclick=NavBack>Cancel</button>
                </div>
            </div>
        </div>

    </EditForm>
</div>